graphviz
automata-lib
pysimpleautomata
tqdm
matplotlib
automathon
asttokens
cached_method
coloraide
colorama
comm
contourpy
cycler
debugpy
decorator
executing
fonttools
frozendict
ipykernel
ipython
ipython_pygments_lexers
jedi
jupyter_client
jupyter_core
kiwisolver
matplotlib-inline
nest-asyncio
networkx
numpy
packaging
parso
pillow
pip
platformdirs
prompt_toolkit
psutil
pure_eval
pydot
Pygments
pygraphviz
pyparsing
python-dateutil
pywin32
pyzmq
six
stack-data
tornado
traitlets
typing_extensions
wcwidth
scipy
pandas